extends layout
block append content
	form(method="post", action="/api/addGame").block-form
		label Name:
		div.input-prepend
			span.add-on
				i.icon-user
			input.appendedInput(type="text", name="name", required, placeholder="Gordon_Freeman")
		label Description:
		div.input-prepend
			span.add-on
				i.icon-briefcase			
			input.appendedInput(type="text", name="description", required, placeholder="Password")
		label Data:
		div.input-prepend
			span.add-on
				i.icon-envelope
			input.appendedInput(type="text", name="data", required, placeholder="email@domain.com")
		label Author:
		div.input-prepend
			span.add-on
				i.icon-envelope
			input.appendedInput(type="text", name="author", required, placeholder="email@domain.com")
		button.btn.btn-primary(type="submit") Register