.header{
	text-align: center;
}

.gt{
	padding-left: 5px;
	font-size: 50px;
	vertical-align: middle;
}

.gametitle{
	padding-left: 5px;
	font-size: 50px;
	vertical-align: text-top;
}

.l{
	font-variant: inherit;
	padding-left: 10px;
}

.last{
	padding-left: 10px;
	font-variant: inherit;
	vertical-align: middle;
}

h3{
	text-align: center;
}

p{
	text-align: center;
}

.thumbnail{
	text-align: center;
}